.container{
    display: grid;  
    grid-template-columns: 25% 75%;
}

.products{
/* border: 1px solid red; */
display: grid; 
grid-template-columns: repeat(3,auto); 
}

.sidebar{
    /* border: 1px solid black; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}