*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width:55%;
    margin: auto;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    gap:20px;
}

.box{
    gap:20px;
}

.box h3{
    padding-bottom: 0.5rem;
}

.box div{
    padding-bottom: 0.2rem;
}