*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar{
  height:5rem;
  background-color: bisque;
  display: flex;
 align-items: center;
 justify-content: space-between;
 padding:0px 50px 0px 50px;
}

.cart{
  font-size: 2rem;
  /* border:1px solid red */
}

.cart p{
  font-size: 1rem;
  text-align: center;
  margin-bottom: -12px;
}
